<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashes</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="mb-3">
        <a href="{{ url_for('see_blockchain') }}" class="boton-back" title="Volver">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </a>
    </div>
    <div class="historial-container">
        <h1 class="titulo-historial">Hashes</h1>
            <div class="table-responsive">
                <table class="historial-table">
                    <tbody>
                        <tr>
                            <th>Hash Anterior</th>
                            <td class="hash-col" title="{{ bloque.anterior_hash }}">{{ bloque.anterior_hash }}</td>
                        </tr>
                        <tr>
                            <th>Hash Actual</th>
                            <td class="hash-col" title="{{ bloque.hash }}">{{ bloque.hash }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</body>
</html>