<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="login-box">
        <p>Iniciar sesión</p>
        <form id="campos" method="post" action="{{ url_for('login') }}">
            <div class="user-box">
                <input type="text" id="usuario" name="usuario" required>
                <label>Usuario</label>
            </div>
            <div class="user-box">
                <input type="password" id="contrasena" name="contrasena" required>
                <label>Contraseña</label>
            </div>
            <button type="submit" class="button">
                <div class="blob1"></div>
                <div class="inner">Iniciar</div>
            </button>
        </form>
        <p>¿No tienes una cuenta? <a href="{{ url_for('create') }}" class="a2">¡Regístrate!</a></p>
    </div>

    <script>
    /* Este script es para validar que los campos no esten vacios */
    document.getElementById('campos').addEventListener('submit', function (e) {
        const usuario = document.getElementById('usuario').value.trim();
        const contrasena = document.getElementById('contrasena').value.trim();

        if (usuario === '' || contrasena === '') {
            e.preventDefault(); // Detiene el envío del formulario
            Swal.fire({
                icon: 'warning',
                title: 'Campos vacíos',
                text: 'Por favor, completa todos los campos.'
            }); 
        }
    });
    </script>
</body>
</html>
