<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Usuario</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Detalles del Usuario Registrado</h1>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Contraseña</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ usuario.usuario }}</td>
                    <td>{{ usuario.contrasena }}</td>
                </tr>
            </tbody>
        </table>

        <div class="text-center">
            <a href="{{ url_for('login') }}" class="btn btn-primary">Continuar</a>
        </div>
    </div>
</body>
</html>
