# Configuración de Base de Datos 
DB_HOST=localhost 
DB_PORT=3306
DB_DATABASE=arduino
DB_USER=root 
DB_PASSWORD=

# Configuración de base de datos con Railway
#DB_HOST=metro.proxy.rlwy.net 
#DB_PORT=26716
#DB_DATABASE=railway 
#DB_USER=root 
#DB_PASSWORD=UVNmQTYpkxztSKbassprbcQoIRXzSQOU 

# Configuración de Flask 
FLASK_SECRET_KEY=Arduino 
FLASK_DEBUG=True 
PORT=5000

# Configuración del modelo ML 
MODEL_PATH=Model/modelo_recibo.pkl 

# Configuración de Arduino 
ARDUINO_PORT=COM3 
ARDUINO_BAUDRATE=9600 
ARDUINO_IP=10.7.61.17

# Configuración de Logging 
LOG_LEVEL=INFO 
LOG_FILE=app.log