# Configuracion de Base de Datos
DB_HOST=TU_DB_HOST
DB_PORT=TU_DB_PORT
DB_DATABASE=TU_DB_DATABASE
DB_USER=TU_DB_USER
DB_PASSWORD=TU_DB_PASSWORD

# Configuracion de Flask
FLASK_SECRET_KEY=TU_FLASK_SECRET_KEY
FLASK_DEBUG=False
PORT=5000

# Configuracion del modelo ML
MODEL_PATH=Model/modelo_recibo.pkl

# Configuracion de Arduino
ARDUINO_PORT=COM9
ARDUINO_BAUDRATE=9600
ARDUINO_IP=10.179.177.1

# Configuracion de Logging
LOG_LEVEL=INFO
LOG_FILE=app.log
