body {
  background: linear-gradient(to bottom, black, #1a237e);
  min-height: 100vh;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.shadow__btn {
  padding: 10px 20px;
  border: 2px solid white; 
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  text-decoration: none;
  background-color: transparent;
  box-shadow: 0 0 10px transparent;
  margin: 10px;
  background-clip: padding-box;
  
  font-family: sans-serif; 
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255), 0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}


body {
  background: linear-gradient(to bottom, black, #1a237e);
  min-height: 100vh;
  position: relative; 
  margin: 0;
}

.switch-container {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}


.switch {
  font-size: 24px; 
  position: relative;
  display: inline-block;
  width: 8em;
  height: 4.4em;
  border-radius: 60px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2a2a;
  transition: 0.4s;
  border-radius: 60px; 
  overflow: hidden;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.8);
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.4em;
  width: 2.4em;
  border-radius: 30px;
  left: 0.8em; 
  bottom: 0.8em; 
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
  box-shadow: inset 8px -4px 0px 0px #fff;
}

.switch input:checked + .slider {
  background-color: #00a6ff;
}

.switch input:checked + .slider:before {
  transform: translateX(3.6em);
  box-shadow: inset 150px -4px 0px 15px #ffcf48;
}

.star {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  width: 0.7em; 
  transition: all 0.4s;
  height: 0.7em;
}

.star_1 {
  left: 4.0em; 
  top: 1.0em; 
}

.star_2 {
  left: 3.5em; 
  top: 2.0em; 
}

.star_3 {
  left: 4.6em; 
  top: 1.6em; 
}

.switch input:checked ~ .slider .star {
  opacity: 0;
}

.cloud {
  width: 5em; 
  position: absolute;
  bottom: -2.0em;
  left: -1.5em; 
  opacity: 0;
  transition: all 0.4s;
}

.switch input:checked ~ .slider .cloud {
  opacity: 100;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  background: rgba(7, 7, 7, 0.349);
  box-sizing: border-box;
  box-shadow: 0 150px 250px rgb(0, 0, 0);
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 36px;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 16px;
}

/*boton iniciar*/
.login-box form a {
  position: relative;
  display: inline-block;
  padding: 20px 25px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px;
}

.login-box a:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.login-box p:last-child {
  color: #ffffff;
  font-size: 14px;
}

.login-box form a button.a2 {
  background: transparent; /* Fondo transparente para el botón */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  outline: none;
}

.login-box form a button.a2:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.login-box p:last-child a.a2 {
  color: #00bfff; /* Cambiado solo al enlace "Regístrate!" */
}

/* Ajuste específico para la etiqueta "Correo Electrónico" */
.login-box .user-box:nth-child(2) label {
  top: 5px; /* Ajusta este valor según sea necesario */
}

/*botones historial*/
.botones .boton_2 {
  background-color: transparent !important;
  color: white !important;
  border: 0px solid white !important;
  font-weight: bold !important;
  padding: 8px 20px !important; /* Ajusta los valores vertical (top/bottom) y horizontal (left/right) */
  text-decoration: none;
}
.botones {
  position: absolute;
  top: 30px; /* Ajusta según necesites la distancia desde la parte superior */
  right: 30px; /* Ajusta según necesites la distancia desde la derecha */
  display: flex;
  gap: 20px; /* Ajusta el espacio entre los botones */
}

/* Estilos para la página de historial */
.historial-container {
  width: 80%;
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
  background: rgba(7, 7, 7, 0.349);
  box-sizing: border-box;
  box-shadow: 0 150px 250px rgb(0, 0, 0);
  color: #fff;
  text-align: center;
}

.historial-container h1 {
  margin-bottom: 20px;
}

.historial-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.historial-table th,
.historial-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.historial-table th {
  background-color: #333;
  color: #fff;
}

.historial-table tbody tr:nth-child(even) {
  background-color: #222;
}

.historial-container a {
  color: #00bfff; /* El mismo color del "Regístrate!" */
  text-decoration: none;
  transition: color 0.3s ease;
}

.historial-container a:hover {
  color: #fff;
}

.boton-back {
  background-color: transparent !important;
  color: white !important;
  border: 0px solid white !important;
  font-weight: bold !important;
  padding: 8px 20px !important;
  text-decoration: none;
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 1.5em; /* Aumenta el tamaño del icono. Prueba con diferentes valores como 2em, 20px, etc. */
}
.boton-back svg {
  width: 29px; /* Ajusta este valor al tamaño deseado */
  height: 60px; /* Ajusta este valor al tamaño deseado */
}

/* Estilo para el hash y el hash anterior */
.hash-col {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Estilos adicionales para la tabla de blockchain */
.container {
  margin-top: 20px;
}

h1 {
  color: white; /* Cambia el color de la letra del título a blanco */
  background-color: #343a40; /* Añade un fondo oscuro al título (opcional) */
  padding: 10px; /* Añade un poco de espacio alrededor del título (opcional) */
  border-radius: 5px; /* Añade esquinas redondeadas al fondo (opcional) */
}

table {
  --bs-table-bg: #212529; /* Fondo oscuro para la tabla */
  color: white; /* Color de la letra en la tabla */
  border-color: #495057; /* Color de los bordes de la tabla */
}

th {
  background-color: #343a40 !important; /* Fondo oscuro para los encabezados */
  color: white !important; /* Color de la letra en los encabezados */
}

td {
  border-color: #495057 !important; /* Color de los bordes de las celdas */
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #343a40 !important; /* Mantiene el fondo oscuro para las filas rayadas */
}

.table-hover > tbody > tr:hover > *,
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #495057 !important;
  color: white !important;
}

.volver-link {
  text-align: center;
  margin-top: 10px;
}

.volver-link a {
  color: #ffffff;
  text-decoration: none;
}

.volver-link a:hover {
  text-decoration: none;
}

.text-center a {
  color: white !important; 
  text-decoration: none !important; 
}

.text-center a:hover {
  text-decoration: underline !important;
}

.button {
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 16px;
  border: none;
  padding: 2px;
  background: radial-gradient(circle 80px at 80% -10%, #ffffff, #181b1b);
  position: relative;
}

.button::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 120px;
  top: 0;
  right: 0;
  box-shadow: 0 0 20px #ffffff38;
  z-index: -1;
}

.blob1 {
  position: absolute;
  width: 70px;
  height: 100%;
  border-radius: 16px;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle 60px at 0% 100%, #3fe9ff, #0000ff80, transparent);
  box-shadow: -10px 10px 30px #0051ff2d;
}

.inner {
  padding: 5px 20px;
  border-radius: 14px;
  color: #fffcfc;
  z-index: 3;
  position: relative;
  background: radial-gradient(circle 80px at 80% -50%, #777777, #0f1111);
}

.inner::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 143px;
  background: radial-gradient(circle 60px at 0% 100%, #00e1ff1a, #0000ff11, transparent);
  position: absolute;
}
